 <kendo-grid [data]="gridView" [height]="370" [sortable]="{ mode: 'multiple' }"  (sortChange)="sortChange($event)">
            <kendo-grid-column field="Id" title="ID" width="80">
            </kendo-grid-column>
            <kendo-grid-column field="InstrumentID" title="Name" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="BloombergTicker" title="Ticker"  width="250">
            </kendo-grid-column>          
                   
        </kendo-grid>