<div class="">
    <form  (ngSubmit)="OnSubmit()" #newHoldingForm="ngForm">
      <div class="form-group">
        <label for="instrumentName">Name</label>
        <input type="text" class="form-control" id="instrumentName" required [(ngModel)]="holding.instrumentName" name="instrumentName">
      </div>
      <div class="form-group">
        <label for="symbol">Symbol</label>
        <input type="text" class="form-control" id="symbol" required [(ngModel)]="holding.symbol" name="symbol">
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <input type="number" class="form-control" id="position" required [(ngModel)]="holding.position"  name="position">
      </div>
      <button type="button" class="btn btn-success" (click)="OnSubmit()" data-dismiss="modal" [disabled]="!newHoldingForm.form.valid">Submit</button>
    <!--<button type="button" class="btn btn-default" data-dismiss="modal" (click)="newHolding(); newHoldingForm.reset()">Close</button>-->
    </form>
</div>