<div>   
    <a href="#" data-toggle="modal" data-target="#myModal">Position Entry</a>  
     <kendo-grid [data]="gridView" [height]="370" [sortable]="{ mode: 'multiple' }"  (sortChange)="sortChange($event)">
            <kendo-grid-column field="id" title="ID" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="instrumentName" title="Name" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="position" title="Position">
            </kendo-grid-column>
            <kendo-grid-column field="symbol" title="Ticker" width="80">
            </kendo-grid-column>           
        </kendo-grid>
   
</div>

<div id="myModal" #angModal class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter new position</h4>
      </div>
      <div class="modal-body">
       <app-new-holding (childEvent)="load()"></app-new-holding>
      </div>     
    </div>

  </div>
</div>