<div>   
  <template #dialogActions>
          <button type="submit" class="k-button k-primary" kendoButton (click)="addInstrument()">Submit</button>
          <button class="k-button" kendoButton (click)="close()">Close</button>
      </template>
    <a href="#"  (click)="open(dialogActions)">Position Entry submit on Dialog</a>  
    <a href="#"  *ngIf="!opened" (click)="openForm()" style="padding-left: 30px;color:red">Kendo with submit on form</a>  
     <kendo-grid [data]="gridView" [height]="370" [sortable]="{ mode: 'multiple' }"  (sortChange)="sortChange($event)">
            <kendo-grid-column field="id" title="ID" width="40">
            </kendo-grid-column>
            <kendo-grid-column field="instrumentName" title="Name" width="250">
            </kendo-grid-column>
            <kendo-grid-column field="position" title="Position">
            </kendo-grid-column>
            <kendo-grid-column field="symbol" title="Ticker" width="80">
            </kendo-grid-column>           
        </kendo-grid>
   
</div>

 <kendo-dialog title="Please confirm" *ngIf="opened" (close)="addAndClose()">
            <app-new-holding (childEvent)="addAndClose()"></app-new-holding>
            <kendo-dialog-actions>
                <button class="k-button k-primary" kendoButton (click)="addAndClose()">Close</button>
            </kendo-dialog-actions>
        </kendo-dialog>
<!--<div id="myModal" #angModal class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter new position</h4>
      </div>
      <div class="modal-body">
       <app-new-holding (childEvent)="close('close')"></app-new-holding>
      </div>     
    </div>

  </div>
</div>-->

<div kendoDialogContainer></div>