<div>   
    <a href="#" data-toggle="modal" data-target="#myModal">Position Entry</a>  
    <table>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Symbol</th>
        <tr *ngFor="let h of holdings">
            <td>{{h.id}}</td>
            <td>{{h.instrumentName}}</td>
            <td>{{h.position}}</td>
            <td>{{h.symbol}}</td>
        </tr>
    </table>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter new position</h4>
      </div>
      <div class="modal-body">
       <app-new-holding></app-new-holding>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>